In [2]:
x = 3

In [3]:
x/2

1

In [4]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA

In [12]:
from sklearn.datasets import load_iris
iris = load_iris()
data = iris.data
column_names = iris.feature_names

In [18]:
data.shape

(150L, 4L)

In [26]:
column_names[0:4]

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [33]:
df = pd.DataFrame(data,columns = column_names)

In [34]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [35]:
new_data = np.log(df)

In [36]:
new_data.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0           1.629241          1.252763           0.336472         -1.609438
1           1.589235          1.098612           0.336472         -1.609438
2           1.547563          1.163151           0.262364         -1.609438
3           1.526056          1.131402           0.405465         -1.609438
4           1.609438          1.280934           0.336472         -1.609438

In [46]:
pca = PCA(n_components=4)

In [47]:
g = pca.fit_transform(df)

In [48]:
pca.explained_variance_ratio_

array([ 0.92461621,  0.05301557,  0.01718514,  0.00518309])